.nav__bar
  .site-title
    = link_to 'ZOZOTOWN', root_path, class: "site-title"
  - if user_signed_in?
    .logout
      = link_to destroy_user_session_path, method: :delete do
        %i.fa.fa-sign-out
    .user-edit
      = link_to edit_user_registration_path(current_user) do
        %i.fa.fa-user-circle
    .user-cart
      = link_to carts_path  do
        %i.fa.fa-shopping-cart
    .current_user-id
      #{ current_user.email }でログイン中
    / - if true #(current_user.authority == 1 )
    /   / .product-edit
    /   /   = link_to edit_product_path(current_user) do
    /   /     %i.fa.fa-shopping-bag
    /   .admin-user-edit
    /     = link_to edit_user_registration_path(current_user) do
    /       %i.fa.fa-user-circle
  - elsif shop_signed_in?
    .logout
      = link_to destroy_shop_session_path, method: :delete do
        %i.fa.fa-sign-out
    .shop-edit
      = link_to edit_shop_registration_path(current_shop) do
        %i.fa.fa-pencil-square-o
    .product-edit
      =link_to new_product_path(current_shop) do
        %i.fa.fa-shopping-bag
    .product-show
      =link_to shop_path(current_shop) do
        %i.fa.fa-th
    .current_shop-name
      #{ current_shop.name }でログイン中
  - else
    .login
      %i.fa.fa-sign-in#modal-open-login
    #modal-content-login
      / モーダルウィンドウのコンテンツ開始
      .upper-content.clearfix
        .upper-content__left
          = link_to new_user_session_path(current_user) do
            .new-user-btn
              %b ユーザーログイン
        .upper-content__right
          = link_to new_shop_session_path(current_shop) do
            .new-shop-btn
              %b ショップログイン
      .bottom-content
        %a#modal-close-login.button-link close
      / モーダルウィンドウのコンテンツ終了


    .new-user
      %i.fa.fa-user-plus#modal-open
    #modal-content
      / モーダルウィンドウのコンテンツ開始
      .upper-content.clearfix
        .upper-content__left
          = link_to new_user_registration_path do
            .new-user-btn
              %b ユーザー登録
        .upper-content__right
          = link_to new_shop_registration_path do
            .new-shop-btn
              %b ショップ登録
      .bottom-content
        %a#modal-close.button-link close
        / モーダルウィンドウのコンテンツ終了


