.right__contents_shop-news-list
  = image_tag 'image01.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image02.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image03.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image04.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image05.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image06.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image07.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image08.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image09.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image10.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image11.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image12.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image13.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image14.jpg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'image15.jpg', class: "right-contents-shop-pop"
