.admin-page
  .admin-page__outer
    .admin-page__prouct-title 商品登録
    .admin-page__inner--wrapper
      .product-select_field
        .product-select_field_wrapper
          / = form_tag(product_path, method: :get) do
          /   .product_search_field_wrapper
          /     = text_field_tag :name, "",class: 'input_search_product_code'
          /   = submit_tag "検索する", class: 'admin-new-btn'
      .product-new_field
        = form_for @product do |f|
          .product-new_field-top
            .product-new_field-top__image
              .product-new_field__show-image
                %output#js-show-image-field
              = f.fields_for :images do |ff|
                %label
                  = ff.file_field :image, id: "file", style: "display:none", value: ""
                  .product-new_field__show-image-button#js-show-image 商品画像を選択する
                =ff.hidden_field :status, value: :main_image
            .product-new_field-top__detail
              .product-new_field__name
                .product-new_field__label
                  = f.label :name, value: "商品名"
                = f.text_area :name, class: "input_product_name", value: ""
              .product-new_field__product-category
                .product-new_field__label
                  = f.label :cloth_group, value: "グループ"
                = f.select :cloth_group, [["メンズ"], ["レディース"], ["キッズ"]], {include_blank: true}, {class: "input_product_category"}
                .product-new_field__label
                  = f.label :cloth_category, value: "商品カテゴリ"
                = f.select :cloth_category, [["トップス"], ["ジャケット/アウター"], ["パンツ"], ["オールインワン"], ["スカート"], ["ワンピース"], ["スーツ/ネクタイ"], ["バッグ"], ["シューズ"], ["ファッション雑貨"], ["財布/小物"], ["ヘアアクセサリー"], ["アクセサリー"], ["アンダーウェア"], ["レッグウェア"], ["帽子"], ["インテリア"], ["食器/キッチン"], ["雑貨/ホビー/スポーツ"], ["コスメ/香水"], ["音楽/本・雑誌"], ["水着/着物・浴衣"], ["マタニティ/ベビー"], ["その他"]], {include_blank: true}, {class: "input_product_category"}
                .product-new_field__label
                  = f.label :cloth_type, value: "商品タイプ"
                = f.select :cloth_type, [["シャツ"],["カットソー"],["ニット/セーター"],["パーカー"]], {include_blank: true}, {class: "input_product_category"}
              .product-new_field__size
                .product-new_field__label
                  = f.label :size, value: "サイズ"
                = f.text_area :size, class: "input_product_size", value: ""
              .product-new_field__color
                .product-new_field__label
                  = f.label :color, value: "カラー"
                = f.text_area :color, class: "input_product_color", value: ""
              .product-new_field__brand
                .product-new_field__label
                  = f.label :brand, value: "ブランド"
                = f.text_area :brand, class: "input_product_brand", value: ""
              .product-new_field__price
                .product-new_field__label
                  = f.label :price, value: "価格（税抜）"
                = f.text_area :price, class: "input_product_price", value: ""
              .product-new_field-bottom
                = f.label :body, value: "商品説明"
                = f.text_area :body, class: "input_product_body", value: ""
                = f.submit " 保  存 ", class: 'product-save-btn'

